
/** $VER: PreferencesFM.rc (2025.06.22) **/

#include "Resource.h"

#include <winres.h>
#include <commctrl.h>

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#define W_A00    332 // Dialog width as set by foobar2000, in dialog units
#define H_A00    288 // Dialog height as set by foobar2000, in dialog units

#define H_LBL        8 // Label

#define W_BTN       50 // Button
#define H_BTN       14 // Button

#define H_EBX       12 // Edit box
#define H_CBX       14 // Combo box

#define W_CHB       10 // Check box
#define H_CHB       10 // Check box

#define DX           7
#define DY           7

#define IX           4 // Spacing between two related controls
#define IY           2

#pragma region Recomposer

// Groupbox
#define X_C00    0
#define Y_C00    0

    #pragma region Loop expansion

    // Label
    #define X_C11    X_C00 + 5
    #define Y_C11    Y_C00 + 11
    #define W_C11    52
    #define H_C11    H_LBL

    // EditBox
    #define X_C12    X_C11 + W_C11 + IX
    #define Y_C12    Y_C11
    #define W_C12    24
    #define H_C12    H_EBX

    // Label
    #define X_C13    X_C12 + W_C12 + IX
    #define Y_C13    Y_C11
    #define W_C13    18
    #define H_C13    H_LBL

    #pragma endregion

    // Checkbox
    #define X_C20    X_C11
    #define Y_C20    Y_C12 + H_C12 + IY
    #define W_C20    86
    #define H_C20    H_CHB

    // Checkbox
    #define X_C21    X_C20
    #define Y_C21    Y_C20 + H_C20 + IY
    #define W_C21    86
    #define H_C21    H_CHB

    // Checkbox
    #define X_C22    X_C21
    #define Y_C22    Y_C21 + H_C21 + IY
    #define W_C22    86
    #define H_C22    H_CHB

    // Checkbox
    #define X_C23    X_C22
    #define Y_C23    Y_C22 + H_C22 + IY
    #define W_C23    86
    #define H_C23    H_CHB

    // Checkbox
    #define X_C24    X_C23
    #define Y_C24    Y_C23 + H_C23 + IY
    #define W_C24    86
    #define H_C24    H_CHB

    // Checkbox
    #define X_C25    X_C24
    #define Y_C25    Y_C24 + H_C24 + IY
    #define W_C25    86
    #define H_C25    H_CHB

#define W_C00    5 + W_C11 + IX + W_C12 + IX + W_C13 + 5
#define H_C00   11 + H_C12 + IY + H_C20 + IY + H_C21 + IY + H_C22 + IY + H_C23 + IY + H_C24 + IY + H_C25 + 7

#pragma endregion

#pragma region HMI / HMP

// Groupbox
#define X_D00    X_C00
#define Y_D00    Y_C00 + H_C00 + IY

    #pragma region Default tempo

    // Label
    #define X_D11    X_D00 + 5
    #define Y_D11    Y_D00 + 11
    #define W_D11    52
    #define H_D11    H_LBL

    // EditBox
    #define X_D12    X_D11 + W_D11 + IX
    #define Y_D12    Y_D11
    #define W_D12    24
    #define H_D12    H_EBX

    // Label
    #define X_D13    X_D12 + W_D12 + IX
    #define Y_D13    Y_D11
    #define W_D13    18
    #define H_D13    H_LBL

    #pragma endregion

#define W_D00   5 + W_D11 + IX + W_D12 + IX + W_D13 + 5
#define H_D00   11 + H_D12 + 7

#pragma endregion

#pragma region Channels

// Groupbox
#define X_E00    X_D00
#define Y_E00    Y_D00 + H_D00 + IY

    // Button: Channel 01
    #define X_E11    X_E00 + 5
    #define Y_E11    Y_E00 + 11
    #define W_E11    16
    #define H_E11    H_BTN

    // Button: Channel 02
    #define X_E12    X_E11 + W_E11 + IX
    #define Y_E12    Y_E00 + 11
    #define W_E12    16
    #define H_E12    H_BTN

    // Button: Channel 03
    #define X_E13    X_E12 + W_E12 + IX
    #define Y_E13    Y_E00 + 11
    #define W_E13    16
    #define H_E13    H_BTN

    // Button: Channel 04
    #define X_E14    X_E13 + W_E13 + IX
    #define Y_E14    Y_E00 + 11
    #define W_E14    16
    #define H_E14    H_BTN

    // Button: Channel 05
    #define X_E15    X_E14 + W_E14 + IX
    #define Y_E15    Y_E00 + 11
    #define W_E15    16
    #define H_E15    H_BTN

    // Button: Channel 06
    #define X_E16    X_E15 + W_E15 + IX
    #define Y_E16    Y_E00 + 11
    #define W_E16    16
    #define H_E16    H_BTN

    // Button: Channel 07
    #define X_E17    X_E16 + W_E16 + IX
    #define Y_E17    Y_E00 + 11
    #define W_E17    16
    #define H_E17    H_BTN

    // Button: Channel 08
    #define X_E18    X_E17 + W_E17 + IX
    #define Y_E18    Y_E00 + 11
    #define W_E18    16
    #define H_E18    H_BTN

    // Button: Channel 09
    #define X_E19    X_E18 + W_E18 + IX
    #define Y_E19    Y_E00 + 11
    #define W_E19    16
    #define H_E19    H_BTN

    // Button: Channel 10
    #define X_E20    X_E19 + W_E19 + IX
    #define Y_E20    Y_E00 + 11
    #define W_E20    16
    #define H_E20    H_BTN

    // Button: Channel 11
    #define X_E21    X_E20 + W_E20 + IX
    #define Y_E21    Y_E00 + 11
    #define W_E21    16
    #define H_E21    H_BTN

    // Button: Channel 12
    #define X_E22    X_E21 + W_E21 + IX
    #define Y_E22    Y_E00 + 11
    #define W_E22    16
    #define H_E22    H_BTN

    // Button: Channel 13
    #define X_E23    X_E22 + W_E22 + IX
    #define Y_E23    Y_E00 + 11
    #define W_E23    16
    #define H_E23    H_BTN

    // Button: Channel 14
    #define X_E24    X_E23 + W_E23 + IX
    #define Y_E24    Y_E00 + 11
    #define W_E24    16
    #define H_E24    H_BTN

    // Button: Channel 15
    #define X_E25    X_E24 + W_E24 + IX
    #define Y_E25    Y_E00 + 11
    #define W_E25    16
    #define H_E25    H_BTN

    // Button: Channel 16
    #define X_E26    X_E25 + W_E25 + IX
    #define Y_E26    Y_E00 + 11
    #define W_E26    16
    #define H_E26    H_BTN

    // Button: All
    #define X_E30    X_E00 + 5
    #define Y_E30    Y_E11 + H_E11 + IY
    #define W_E30    W_BTN
    #define H_E30    H_BTN

    // Button: None
    #define X_E32    X_E30 + W_E30 + IX
    #define Y_E32    Y_E30
    #define W_E32    W_BTN
    #define H_E32    H_BTN

    // Button: 1 - 10
    #define X_E34    X_E32 + W_E32 + IX
    #define Y_E34    Y_E32
    #define W_E34    W_BTN
    #define H_E34    H_BTN

    // Button: 11 - 16
    #define X_E36    X_E34 + W_E34 + IX
    #define Y_E36    Y_E34
    #define W_E36    W_BTN
    #define H_E36    H_BTN

#pragma endregion

#pragma region Port

    // Label
    #define X_E40    X_E30
    #define Y_E40    Y_E30 + H_E30 + IY
    #define W_E40    45
    #define H_E40    H_LBL

    // Label (Buddy)
    #define X_E41    X_E40 + W_E40 + IX
    #define Y_E41    Y_E40
    #define W_E41    12
    #define H_E41    H_LBL

    // Slider
    #define X_E42    X_E41 + W_E41 + IX
    #define Y_E42    Y_E41
    #define W_E42    160
    #define H_E42    15

#pragma endregion

#define W_E00   5 + W_E11 + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + (IX + W_E12) + 5
#define H_E00   11 + H_E11 + IY + H_E30 + IY + H_E42 + 7

#pragma endregion

IDD_PREFERENCES_PROCESSING dialogex 0, 0, 0, 0
style DS_SHELLFONT | WS_CHILD
font 8, "MS Shell Dlg", 400, 0, 1
{
    groupbox "Recomposer", IDC_STATIC, X_C00, Y_C00, W_C00, H_C00
        rtext       "Expand loops:",            IDC_STATIC,                 X_C11, Y_C11 + 2, W_C11, H_C11
        edittext                                IDC_LOOP_EXPANSION,         X_C12, Y_C12,     W_C12, H_C12, ES_AUTOHSCROLL | ES_RIGHT
        ltext       "times",                    IDC_STATIC,                 X_C13, Y_C13 + 2, W_C13, H_C13

        control     "Write bar markers",        IDC_WRITE_BAR_MARKERS,      "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_C20, Y_C20, W_C20, H_C20
        control     "Write SysEx names",        IDC_WRITE_SYSEX_NAMES,      "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_C21, Y_C21, W_C21, H_C21
        control     "Extend loops ",            IDC_EXTEND_LOOPS,           "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_C22, Y_C22, W_C22, H_C22
        control     "Wolfteam loops ",          IDC_WOLFTEAM_LOOPS,         "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_C23, Y_C23, W_C23, H_C23
        control     "Keep muted channels",      IDC_KEEP_MUTED_CHANNELS,    "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_C24, Y_C24, W_C24, H_C24
        control     "Include control data",     IDC_INCLUDE_CONTROL_DATA,   "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_C25, Y_C25, W_C25, H_C25

    groupbox "HMI / HMP", IDC_STATIC, X_D00, Y_D00, W_D00, H_D00
        rtext       "Default tempo:",           IDC_STATIC,                 X_D11, Y_D11 + 2, W_D11, H_D11
        edittext                                IDC_DEFAULT_TEMPO,          X_D12, Y_D12,     W_D12, H_D12, ES_AUTOHSCROLL | ES_RIGHT
        ltext       "bpm",                      IDC_STATIC,                 X_D13, Y_D13 + 2, W_D13, H_D13

    groupbox "Channels", IDC_STATIC, X_E00, Y_E00, W_E00, H_E00
        control     "1"                         IDC_CHANNEL_01              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP | WS_GROUP, X_E11, Y_E11, W_E11, H_E11
        control     "2"                         IDC_CHANNEL_02              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E12, Y_E12, W_E12, H_E12
        control     "3"                         IDC_CHANNEL_03              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E13, Y_E13, W_E13, H_E13
        control     "4"                         IDC_CHANNEL_04              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E14, Y_E14, W_E14, H_E14
        control     "5"                         IDC_CHANNEL_05              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E15, Y_E15, W_E15, H_E15
        control     "6"                         IDC_CHANNEL_06              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E16, Y_E16, W_E16, H_E16
        control     "7"                         IDC_CHANNEL_07              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E17, Y_E17, W_E17, H_E17
        control     "8"                         IDC_CHANNEL_08              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E18, Y_E18, W_E18, H_E18
        control     "9"                         IDC_CHANNEL_09              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E19, Y_E19, W_E19, H_E19
        control     "10"                        IDC_CHANNEL_10              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E20, Y_E20, W_E20, H_E20
        control     "11"                        IDC_CHANNEL_11              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E21, Y_E21, W_E21, H_E21
        control     "12"                        IDC_CHANNEL_12              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E22, Y_E22, W_E22, H_E22
        control     "13"                        IDC_CHANNEL_13              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E23, Y_E23, W_E23, H_E23
        control     "14"                        IDC_CHANNEL_14              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E24, Y_E24, W_E24, H_E24
        control     "15"                        IDC_CHANNEL_15              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E25, Y_E25, W_E25, H_E25
        control     "16"                        IDC_CHANNEL_16              "Button", BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_TABSTOP           , X_E26, Y_E26, W_E26, H_E26

        pushbutton  "All",                      IDC_CHANNEL_ALL,            X_E30, Y_E30, W_E30, H_E30, WS_TABSTOP | WS_GROUP
        pushbutton  "None",                     IDC_CHANNEL_NONE,           X_E32, Y_E32, W_E32, H_E32, WS_TABSTOP
        pushbutton  "1 - 10",                   IDC_CHANNEL_1_10,           X_E34, Y_E34, W_E34, H_E34, WS_TABSTOP
        pushbutton  "11 - 16",                  IDC_CHANNEL_11_16,          X_E36, Y_E36, W_E36, H_E36, WS_TABSTOP

        ltext       "Port number:",             IDC_PORT_LBL,               X_E40, Y_E40 + 8, W_E40, H_E40
        rtext       "",                         IDC_PORT,                   X_E41, Y_E41 + 3, W_E41, H_E41
        control     "",                         IDC_PORT_SLIDER,            TRACKBAR_CLASS, TBS_HORZ | TBS_AUTOTICKS | TBS_TOP | TBS_TRANSPARENTBKGND | WS_TABSTOP, X_E42, Y_E42, W_E42, H_E42
}
